.main-nav {
 display: flex;
 justify-content: space-between;
 padding: 5px;
}

.left-nav > ul,
.right-nav > ul { 
  
  padding: 7px;
  margin: 7px;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: $sans-serif;
  font-weight: bold;
  color: $dark-gray;
  display: flex;
  justify-content: space-between;
  width: auto;
}
.left-nav {

  > ul {
    > li {
      margin: 4px;
      align-items: baseline;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.fa-cog{
  font-size: 25px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
  border-radius: 2px;
}
