.main-nav {
 display: flex;
 justify-content: space-between;
 padding: 5px;
}

.left-nav > ul,
.right-nav > ul { 
  
  padding: 7px;
  margin: 7px;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: $sans-serif;
  font-weight: bold;
  color: $dark-gray;
  display: flex;
  justify-content: space-between;
  width: auto;
}
.left-nav {
  margin: 20px;
  width: 300px;
  display: flex;
  > ul {
    > li {
      margin: 4px;
      align-items: baseline;
    }
  }

  span {

  }
}

.right-nav  {
  margin: 10px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  > ul {
    display: flex;
    margin: 7px;
    width: 230px;
    justify-content: space-around;
    align-items: center;

    > li {
      position: relative;
      display: flex;
      justify-content: space-around;
    }

    > li:hover {
      display: block
    }
  }
  
  i {

  }
}
.subscribe-login-btn {
  display: flex;
  justify-content: space-around;
  width: 250px;
}
.fa-cog{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
  border-radius: 2px;
}
.to_hover:hover ul {
  display: block;
}

