
<ul class="masthead">
        <div class="top-lis">
        <li>CSS</li>
        <li>HTML</li>
        <li>Javascript</li>
        <li>Ruby</li>
        </div>
        <%= image_tag 'AA_Times_Logo.png' %>
        
    <div class="bottom-lis">
        <li>Tuesday, October 18, 2016</li>
            
        <li> <a href="#"> Today’s Paper</a></li>

        <li><a href="#">Video</a></li>
        <li>77°F</li>
        <li>AAO +100%</li>
    </div>
</ul>